.collection{
  min-height: 90vh;
  color: white;
  background-image: url('../assets/backgrounds/blue_flames.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
