.error-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 5rem;
    padding: 2rem;
  }
  p {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 2rem;
  }
  }
