header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background-color: black;
      h1  {
    .logo {
      margin: 0 auto;
      width: 25vw;
      position: fixed;
      top: 4vh;
      right: 40vw;
    }
  }
    nav {
      ul {
        display: flex;
        flex-direction: row;
        
        li {
          margin-right: 1rem;
          list-style: none;
          .links {
            margin-right: 2rem;
            color: orange;
            text-decoration: none;
            font-family: 'Oswald', sans-serif;
            font-weight: normal;
             padding: 0 0.75rem;
             border-radius: 0.5rem;
            &:hover {
              color: black;
              background-color: orange;
              border: 1px solid orange;
              padding: 0 0.75rem;
              border-radius: 0.5rem;
            }
        }
        }
      }
    }
}

